metadata:
  labels:
    app: jenkins
spec:
  containers:
    - name: jnlp
      image: jenkins/inbound-agent:latest
      resources:
        requests:
          cpu: "1m"
    - name: dind
      image: docker:dind
      resources:
        requests:
          memory: 1Gi
      securityContext:
        privileged: true
      volumeMounts:
        - name: dind-storage
          mountPath: /var/lib/docker
        - name: docker-config
          mountPath: /etc/docker/daemon.json
          subPath: daemon.json
    - name: kubectl
      image: dylanmunyard/jenkins-agent-kubectl:latest
      command: ["sleep", "infinity"]
      resources:
        requests:
          memory: 512Mi
    - name: deploy-aks
      image: dylanmunyard/jenkins-agent-kubectl-az:latest
      command: ["sleep", "infinity"]
      resources:
        requests:
          memory: 512Mi
  volumes:
    - name: dind-storage
      emptyDir: {}
    - name: docker-config
      configMap:
        name: docker-daemon-config
